.contact-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}
.contact-navbar {
  width: 100%;
  height: 84px;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  align-items: center;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.contact-left {
  gap: var(--dl-space-space-twounits);
  width: 888px;
  height: 42px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.contact-navlink {
  display: contents;
}
.contact-logo {
  top: 5px;
  left: 3px;
  width: 211px;
  height: 31px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.contact-links {
  gap: var(--dl-space-space-oneandhalfunits);
  top: 6px;
  right: 2px;
  width: 505px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.contact-link {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  margin-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.contact-link:hover {
  opacity: 0.5;
}
.contact-link1 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  margin-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.contact-link1:hover {
  opacity: 0.5;
}
.contact-link2 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  margin-right: var(--dl-space-space-threeunits);
  text-decoration: none;
}
.contact-link2:hover {
  opacity: 0.5;
}
.contact-link3 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.contact-link3:hover {
  opacity: 0.5;
}
.contact-right {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.contact-book {
  text-decoration: none;
}
.contact-text {
  font-size: 18px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
}
.contact-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.contact-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.contact-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contact-navlink1 {
  display: contents;
}
.contact-image {
  height: 2rem;
  text-decoration: none;
}
.contact-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-icon2 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-navlink2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-text1 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-navlink3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-text2 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-book1 {
  text-decoration: none;
}
.contact-text3 {
  font-family: "Inter";
}
@media(max-width: 991px) {
  .contact-navbar {
    z-index: 1000;
  }
  .contact-links {
    display: none;
  }
  .contact-right {
    display: none;
  }
  .contact-burger-menu {
    display: flex;
    padding: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-round);
    background-color: #2461FF;
  }
  .contact-icon {
    fill: white;
  }
}
@media(max-width: 767px) {
  .contact-navbar {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .contact-burger-menu {
    display: flex;
  }
}
@media(max-width: 479px) {
  .contact-navbar {
    padding: var(--dl-space-space-unit);
  }
  .contact-mobile-menu {
    padding: 16px;
  }
}
