.hero9-header30 {
  gap: var(--dl-space-space-twounits);
  height: 477px;
}
.hero9-image {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 478px;
  position: absolute;
  object-fit: cover;
}
.hero9-container {
  width: 100%;
  height: 434px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
